* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 36px;
    min-height: 100vh;
    color: #fff;
    background-color: #000;
    display: grid;
    place-content: center;
}
h6 {
    place-content: center;
    font-style: italic;
    padding-left: 95px;
    font-size: 20px;
}